#par{
    color: rgb(99, 7, 53);
    font-style: italic;
    font-size: large;
    background-color: rgb(221, 113, 113);
    
}

.pa1{
    color: rgb(223, 65, 96);
    font-style: italic;
    font-size: large;
    background-color: burlywood;
    
}

.pp2{
    color: rgb(221, 45, 168);
    font-style: italic;
    font-size: large;
    background-color: rgb(31, 7, 19);
    
}

.pag3{
color: rgb(223, 13, 76);
font-style: italic;
font-size: large;
background-color: indigo;

}

body{
    background-color: black;
}

